#app {
  .header-wrapper {
    background-color: rgba($black, 0.87);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 3px solid $color-1;
    z-index: 99999999;
  }
  .header {
    height: 100px;
    color: $white;
    .header-title {
      font-family: $font-2;
      font-size: $fz-xl;
      letter-spacing: 6px;
      word-spacing: 10px;
      text-transform: uppercase;
      a:after {
        display: none;
      }
    }
    li {
      margin-left: 20px;
      &:first-child {
        margin-left: 0;
      }
    }
    a {      
      text-transform: uppercase;
      @include fancy-underline;
      &.active {
        color: $white;
        &:after {
          background: $white;
          width: 100%;
        }
      }
    }
  }
}