#app {
  .hero {
    width: 100%;
    img {
      width: 100%;
    }
  }
  .home .upcoming-shows {
    top: 250px;
    max-width: 300px;
    @media #{$bp-xl} {
      top: 130px;
      bottom: auto;
      margin-bottom: 20px;
    }
    @media #{$bp-lg} {
      top: 113px;
      left: 10px;
    }
    @media #{$bp-md} {
      position: relative;
      display: inline-block;
      max-width: initial;
      width: 100%;
      top: 0;
      left: 0;
      margin-bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      .time {
        margin-right: 30px;
      }
      .video-wrapper {
        height: 300px;
      }
    }
  }
  @media (min-width: 768px) and (max-width: 840px) {
    .home .upcoming-shows li:nth-child(4) {
      display: none !important;
    }
  }

}