// ===========================
// colors
$color-1: #A12319;
$color-1-lt: lighten($color-1, 30%);
$color-1-x-lt: lighten($color-1, 48%);
$red: #D92F22;
$black: #000;
$white: #fff;
$gray-7: darken($white, 7%);
$gray-10: darken($white, 10%);
$gray-15: darken($white, 15%);
$gray-20: darken($white, 20%);
$gray-30: darken($white, 30%);
$gray-40: darken($white, 40%);
$gray-50: darken($white, 50%);
$gray-60: darken($white, 60%);
$gray-70: darken($white, 70%);
$gray-80: darken($white, 80%);
$gray-90: darken($white, 90%);

.color-1 { color: $color-1; }
.gray-20 { color: $gray-20; }
.gray-30 { color: $gray-30; }
.white { color: $white; }

// ===========================
// font-families
@import url('https://fonts.googleapis.com/css?family=Montserrat|Volkhov');
$font-1: 'Montserrat', Helvetica, sans-serif;
$font-2: 'Volkhov', Helvetica, sans-serif;

// ===========================
// background-colors
.bg-white { background-color: $white; }
.bg-black { background-color: $black; }
.bg-color-1 { background-color: $color-1; }
.bg-color-1-lt { background-color: $color-1-lt; }
.bg-gray-30 { background-color: $gray-30; }
.bg-gray-80 { background-color: $gray-80; }
.bg-gray-90 { background-color: $gray-90; }

// ===========================
// font-sizes
$base: 0.0625rem;

$fz-xs: $base*14;
$fz-sm: $base*16;
$fz-md: $base*18;
$fz-lg: $base*22;
$fz-xl: $base*28;
$fz-xxl: $base*40;
$fz-xxxl: $base*60;

.fz-sm { font-size: $fz-sm; }
.fz-md { font-size: $fz-md; }
.fz-lg { font-size: $fz-lg; }
.fz-xl { font-size: $fz-xl; }
.fz-xxl { font-size: $fz-xxl; }
.fz-xxl { font-size: $fz-xxl; }

// header
$header-height: 100px;

// ===========================
// navicon
$naviconSpacing: 8px;
$naviconSpacing2: $naviconSpacing * 2;
$naviconThickness: 2px;
$naviconWidth: 24px; 
$naviconHeight: $naviconSpacing2 + $naviconThickness;

// ===========================
// borders
$border: 2px solid $gray-30;
$border-color-1: 2px solid $color-1;
$border-radius: 3px;
$border-radius-lg: 6px;

#app .bdr-color-1 { border-top: $border-color-1; }
.border-radius { border-radius: $border-radius; }
.border-radius-lg { border-radius: $border-radius-lg; }

// ===========================
// transitions
$tran: 0.2s all ease-in-out;
$tran4: 0.4s all ease-in-out;

// ===========================
// media queries
$bp-xl: '(max-width: 1199px)';
$bp-lg: '(max-width: 991px)';
$bp-md: '(max-width: 767px)';
$bp-min-md: '(min-width: 768px)';
$bp-sm: '(max-width: 575px)';
$bp-xs: '(max-width: 419px)';
$bp-xxs: '(max-width: 400px)';

// ===========================
// misc
$box-shadow: 3px 3px 8px $gray-40;

// ===========================
// BOOTSTRAP
// spacers

// padding
.pt-6, .py-6 { padding-top: 60px !important; }
.pb-6, .py-6 { padding-bottom: 60px !important; }
.pr-6, .px-6 { padding-right: 60px !important; }
.pl-6, .px-6 { padding-left: 60px !important; }
// margin
.mt-6, .my-6 { margin-top: 60px !important; }
.mb-6, .my-6 { margin-bottom: 60px !important; }
.mr-6, .mx-6 { margin-right: 60px !important; }
.ml-6, .mx-6 { margin-left: 60px !important; }

// padding
.pt-8, .py-8 { padding-top: 80px !important; }
.pb-8, .py-8 { padding-bottom: 80px !important; }
.pr-8, .px-8 { padding-right: 80px !important; }
.pl-8, .px-8 { padding-left: 80px !important; }
// margin
.mt-8, .my-8 { margin-top: 80px !important; }
.mb-8, .my-8 { margin-bottom: 80px !important; }
.mr-8, .mx-8 { margin-right: 80px !important; }
.ml-8, .mx-8 { margin-left: 80px !important; }
